<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ma page d'accueil</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container mt-5">
		
		<h1>Ma page d'accueil</h1>
		<div th:if="${user == null}" class="text-center">
			<a href="/login" class="btn btn-primary">Se connecter</a>
		</div>
		
		<div th:unless="${user == null}" class="text-center">
			<a href="/profile" class="btn btn-primary">Mon profil</a>
			
			<form th:action="@{/logout}" method="post" class="mt-3">
				<button type="submit" class="btn btn-danger">Se déconnecter</button>
			</form>
		</div>
		
	</div>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>