<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ma page d'administration</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

	<div class="contaienr-fluid">
		<div class="row">
			<!-- col-12 takes all the width-->
			<div class="col-12 mt-2 ml-2"  >
				<a href="/profile" class="btn btn-primary">Retour au profil</a>
			</div>
		</div>
	</div>
	
	<div class="row justify-content-center align-items-center" style="height:80vh" >
		<div class="col-12 col-md-6 text-center">
			<h1>Ma page d'administration</h1>
			
		</div>
	</div>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>